header {
    background-image: url('../images/bg-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

.sidenav li>a,
nav ul a {
    color: white;
}

.logo-img {
    width: 80px;
    height: auto;
}

blockquote {
    border-left: 5px solid black;
}

.portfolio img {
    height: 200px;
}

.card {
    overflow: hidden;
}

.card img {
    transition: all .3s ease-in-out;
}

.card:hover img {
    transform: scale(1.1);
}

input[type=range]::-webkit-slider-thumb {
    background-color: black;
}

input[type=range]::-moz-range-thumb {
    background-color: black;
}

input[type=range]::-ms-thumb {
    background-color: black;
}


/***** These are to edit the thumb and the text inside the thumb *****/

input[type=range]+.thumb {
    background-color: #dedede;
}

input[type=range]+.thumb.active .value {
    color: black;
}